[Unit]
Description=PaperMc Server

[Service]
Type=simple
User=dowerx
WorkingDirectory=/home/dowerx/papermc-server
ExecStart=docker-compose up
ExecStop=docker-compose stop
Restart=on-failure
RestartSec=20s

[Install]
WantedBy=multi-user.target